.header {
    height: 175px; 
}

.header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header__logo-link {
    text-decoration: none;
    color: black;
    font-size: 36px;
}

.header__nav-list {
    display: flex;
    gap: 37px;
}

.header__nav-item {
    cursor: pointer;
    list-style-type: none;
}
